#login{
    .container{
        margin: 2rem auto;
        padding: 0 2rem;
        max-width: 400px;
        min-width: 240px;  
        .row{
            &.header{
                text-align: center;
            }
            .signin{
                font-size: 1.7rem;
            }
            .banner{
                font-size: 1rem;
                margin:0.8rem 0;
            }
            .email,.password{
                width:100%;
            }
            
            &.footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .forgotpassword{
                    label{
                        font-size: 0.875rem;
                        color:orange;
                        font-weight: 600;
                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
                .element{
                    button{
                        background-color: orange;
                    }
                }
            }
        }  
    }
}